<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>과목 추천 AI 상담</title>
</head>
<body>
    <h1>AI 과목 추천 상담</h1>
    <form method="post">
    <label>Are you interested in Artificial Intelligence?</label><br>
        <textarea name="question1" rows="4" cols="50">{{ question }}</textarea><br>
    <label></label><br>
    <label>Do you have any fields that you want to focus on?</label><br>
        <textarea name="question2" rows="4" cols="50">{{ question }}</textarea><br>
    <label></label><br>
    <label>Do you have any subjects that you want to focus on?:</label><br>
        <textarea name="question3" rows="4" cols="50">{{ question }}</textarea><br>
    <label></label><br>
        <label>Do you have specific dreams or goals that you want to achieve via AI?</label><br>
        <textarea name="question4" rows="4" cols="50">{{ question }}</textarea><br>
        <button type="submit">Go for it!</button>
    </form>
    <hr>
    <h2>AI의 추천</h2>
    <pre>{{ answer }}</pre>
</body>
</html>
